body {
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
}

/* utilities */
[class*="col-"] {
  height: 100%;
}
/* /utilities */

/* header top */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
}

.container,
.row {
  height: 100%;
}

.list-inline li a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}
.list-inline li a:hover {
  color: #006AFF;
}

#logo {
  max-width: 150px;
  max-height: 100%;
  vertical-align: middle;
}

#sign_up {
  border: 1px solid #006AFF;
  color: #006AFF;
  background: white;
}
#sign_up:hover {
  background: #006AFF;
  color: white;
  transition: .3s;
}

.burger_menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px 5px;
}
.burger_menu div {
  width: 20px;
  height: 3px;
  background-color: #006AFF;
  border-radius: 5px;
  margin: 4px 0;
}
.burger:hover {
  cursor: pointer;
}
/* /header top */

/* header bottom */
.header_bottom {
  margin-top: 60px;
  padding: 40px;
  background-image: url(../img/jumbo-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .header_bottom [class*="col-"] {
  background-color: orange;
  border: 1px solid black;
} */
.title {
  color: white;
  height: 500px;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 20px;
}

.title p {
  font-size: 24px;
  font-family: 'Sailec-Light';
  text-shadow: 2px 2px 8px black;
}

.login {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.login h2 {
    font-weight: bold;
}
/* /header bottom */
